# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Temporary files
*.tmp
*.swp
*~

# IDE
.idea/
.vscode/
*.sublime-*

# Jupyter Notebook
.ipynb_checkpoints/

# Environment
.env
.venv/
venv/
