absl-py==2.0.0
ase==3.24.0
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
beartype==0.19.0
biopython==1.81
chex==0.1.86
comm==0.2.2
contextlib2==21.6.0
contourpy==1.2.0
dataclasses==0.6
debugpy==1.8.9
decorator==5.1.1
dm-haiku==0.0.10
dm-tree==0.1.8
e3nn-jax==0.20.2
einops==0.7.0
etils==1.5.0
exceptiongroup==1.1.3
executing==2.0.0
fasteners==0.19
flax==0.7.4
fonttools==4.46.0
freud-analysis==2.13.1
fsspec==2023.9.2
GridDataFormats==1.0.1
importlib-metadata==6.8.0
importlib-resources==6.1.0
ipi==2.6.3
ipykernel==6.29.5
ipython==8.16.1
jax==0.4.21
jax-dataloader==0.1.3
jaxlib==0.4.21+cuda12.cudnn89
jaxopt==0.8.2
jedi==0.19.1
jmp==0.0.4
joblib==1.3.2
jraph==0.0.6.dev0
jupyter_client==8.6.3
jupyter_core==5.7.2
markdown-it-py==3.0.0
matplotlib==3.8.2
matplotlib-inline==0.1.6
MDAnalysis==2.6.1
mdurl==0.1.2
ml-collections==0.1.1
ml-dtypes==0.2.0
mmtf-python==1.1.3
mpmath==1.3.0
mrcfile==1.4.3
msgpack==1.0.7
nest-asyncio==1.5.8
networkx==3.1
numpy==1.26.0
nvidia-cublas-cu12==12.3.4.1
nvidia-cuda-cupti-cu12==12.3.101
nvidia-cuda-nvcc-cu12==12.3.103
nvidia-cuda-nvrtc-cu12==12.3.103
nvidia-cuda-runtime-cu12==12.3.101
nvidia-cudnn-cu12==8.9.7.29
nvidia-cufft-cu12==11.0.12.1
nvidia-cusolver-cu12==11.5.4.101
nvidia-cusparse-cu12==12.2.0.103
nvidia-ml-py3==7.352.0
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
OpenMM==8.1.0
opt-einsum==3.2.0
optax==0.1.7
orbax-checkpoint==0.4.1
pandas==1.5.3
ParmEd==4.2.2
parso==0.8.3
periodictable==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
plum-dispatch==2.5.4
prompt-toolkit==3.0.39
protobuf==4.24.4
psutil==6.1.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycairo==1.25.0
Pygments==2.16.1
pymbar==4.0.1
PyYAML==6.0.1
pyzmq==26.2.0
rich==13.6.0
rowan==1.3.0.post1
SciencePlots==2.1.1
scikit-learn==1.4.1.post1
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorstore==0.1.45
threadpoolctl==3.2.0
tidynamics==1.1.2
toolz==0.12.0
torch==1.13.0+cu117
torchaudio==0.13.0+cu117
torchvision==0.14.0+cu117
tqdm==4.66.1
traitlets==5.11.2
typing_extensions==4.12.2
wcwidth==0.2.8
zipp==3.17.0
